body {
    background: linear-gradient(135deg, #1d2b64, #f8cdda) !important;
    font-family: 'Segoe UI', sans-serif !important;
}

.clockCard {
    width: 400px;
}

.display {
    font-size: 2.5rem;
    font-weight: bold;
    background: #1c1c1c;
    color: #00ffcc;
    padding: 15px;
    border-radius: 12px;
}