body {
    background: linear-gradient(135deg, #667eea, #764ba2);
}

.calculator {
    width: 400px;
    background: rgba(255,255,255, 0.2) !important;
    backdrop-filter: blur(8px);
    border-color: rgba(255, 255, 255, 0.1) !important;
}

button {
    height: 60px;
    font-size: 25px !important;
}